<img class="bioPicture" src="images/steven_niagara_falls.jpg" alt="not found" height="266" width="200">
<p class="bioName">Steven Rago</p>
<p class="bioDescription" >Hello, Welcome to Rago's World!</p>
<p class="bioDescription" >This is just a landing zone with much more to come</p>